@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');

html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:'Noto Sans','Lato','Mukta','Catamaran','Montserrat','Roboto'; */
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: rgba(0, 0, 0, 0.973);
  background-image: url(background.jpg);
}

/* HEADER */

.header{
  /* background-color:tomato; */
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px 0;
}
.header .left{
  /* background-color: tomato; */
  align-items: center;
  width: 263px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.56rem;
  font-weight: 600;
}

/* .logo{
  font-size: 2.5rem;
  color: var(--white-color); 
  font-weight: 600; 
  cursor: default;
  margin-right: auto;
} */
.header .right {
  margin: 10px 40px;
  font-size: 30px;
  color: #ffffff;
}
/* HEADER */

/* BODY */
.bodysection{
  display: grid;
  justify-content: center;
}
.box{
  color: #ffffff;
  background-color: rgb(33, 33, 33);
  width: 55rem;
  height: 30rem;
  display: inline-block;
  border-radius: 2rem;
  padding: 0rem 2rem;
}
.box .name{
  margin-bottom: 3rem;
}
.content{
  /* background-color:rgb(195, 236, 195); */
  display: flex;
  justify-content: space-between;
  height: 18rem;
}
.content .browsefile{
  /* background-color:gray; */
  width: 18rem;
  height: 100%;
  display: grid;
  justify-content: center;
  border: 1px solid #646464;
  border-radius: 1.5rem;
}
.content .browsefile i{
  margin: auto;
  color: #646464;
}
.content .browsefile p{
  text-align: center;
  font-weight:700;
}
.content .browsefile p span{
  color: #1bd81b;
}
.content .browsefile i{
  font-size: 8rem;
}

.content .upload{
  /* border: 1px solid grey; */
  width: 18rem;
  height: 100%;
}

.upload p{
  font-size: 0.85rem;
  color:#b3b3b3;
  margin-top: 0;
  margin-bottom: 10px;
}
.upload input{
  width: 17rem;
  padding: 2rem 0.4rem;
  border: 1px solid #646464;
  border-radius: 0.7rem;
  background-color: transparent;
  margin: 10px 0px;
}

.upload .upload_cancel #upload_btn{
  /* padding: 0.2rem 0.4rem; */
  height: 1.4rem;
  width: 8rem;
  background-color:#0db30d  ;
  border: none;
  border-radius: 1rem;
  color: white;
  font-weight: 600;
}
.upload .upload_cancel #cancel_btn{
  background-color:transparent;
  color: #ffffff;
  border: none;
  font-weight:600;
}
.upload .line{
  height: 2px;
  background:#646464 ;
  margin-bottom: 1.5rem;
}
.upload #recent{
  color: #c7c7c7;
  font-weight: 650;
  margin-top: 8px;
  margin-bottom: 15px;
}
.upload .filenames i{
  font-size: 1rem;
  color: #1bd81b;
}
.upload .filenames span:nth-child(3){
  font-size: 0.7rem;
}
.content .generate{
  /* background-color: lightcoral; */
  width: 10rem;
  height: 100%;
  display: grid;
  text-align: center;
}
.generate .generate_symbols{
  margin-bottom: 5rem;
}
.generate .symbols{
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
}
.generate .generate_symbols p{
  color: #c7c7c7;
  font-weight: 650;
}
.generate .generate_btn p{
  font-size: 0.75rem;
}
.generate .generate_btn button{
  height: 1.4rem;
  width: 8rem;
  background-color:#0db30d ;
  border: none;
  border-radius: 1rem;
  color: white;
  font-weight: 600;
}

